.generator {
  display: flex;
  justify-content: center;
  margin: -1em 0em 3em 0em;
  color: aquamarine;

  button {
    font-size: 18px;
    background: beige;
    color: black;
  }
}

.left-numbers {
  width: 0;
  height: 0px;
  position: relative;
  bottom: -5em;
  left: -18.5em;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 125px;
  list-style: none;
  color: beige;
  background: black;
}

.top-numbers {
  letter-spacing: 3em;
  height: 50px;
  display: inline-block;
  font-size: 38px;
  color: black;
  padding: 50px 0px 0px 3em;
}


#jeffsquares {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.square {
  font-size: 16px;
  color: black;
  width: 135px;
  height: 130px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    margin: 24px;
    justify-content: center;
  }

  @media only screen and(max-width: 815px) {
    width: 70px;
    height: 70px;
  }

}

.center-align {
  display: inline-block;
}

.square-filled {
  background-color: aqua;
  overflow: hidden;
}

input {
  width: 50px;
  font-size: 10px;
  color: #333;
}

button {
  position: relative;
  font-size: 12px;
  background-color: burlywood;
}

.square-filled span {
  font-size: 18px;
  margin: 0;
  color: #bcbcda;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  width: auto;

}