// .square-main {
//     background-color: rgb(142, 226, 207);
//     opacity: 0.8;
//     width: 75% !important;
//     margin: 2em;
// }
body {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    ul {
        text-align: center;
        justify-content: center;

        a {
            margin: 1em;
            color: black !important;
            display: block;
            text-decoration: none;
            font-size: 32px;
            letter-spacing: 2px;
        }
    }
}

.main-navigation ul {
    display: none;
}

#number-grid {
    display: flex;
    width: 75%;
    margin: 0em 0em 0em 11em;
    flex-wrap: wrap;
    align-items: center;
}

button {
    background-color: cadetblue;
    opacity: 0.6;
    width: 90px;
    height: 75px;
    margin: 5px;

    @media only screen and (max-width: 650px) {
        width: 35px;
        font-size: 8px;
        height: 35px;
        margin: 1.5px;
    }
}